<div class="comment{% if not comment.isModerated() %} comment-inactive{% endif %}">
    {% if is_granted("ROLE_ADMIN") %}
        <div class="comment-actions">
            {% if comment.isModerated() %}
                <a href="{{ path("blog_post_comment_inactivate", { "id": comment.getId() }) }}" class="button button-small button-red">Inactivate</a>
            {% else %}
                <a href="{{ path("blog_post_comment_activate", { "id": comment.getId() }) }}" class="button button-small button-green">Activate</a>
            {% endif %}
            <a href="{{ path('blog_post_comment_delete', { 'id': comment.getId() }) }}" class="button button-small">Delete</a>
        </div>
    {% endif %}
    <p class="author">
        {% if comment.getWebsite() %}
            <a href="{{ comment.getWebsite() }}" rel="nofollow">
        {% endif %}
        {{ comment.getFullname() }}
        {% if comment.getWebsite() %}
            </a>
        {% endif %}
        <em>
            {{ comment.getCreatedAt().format("F j, Y") }}
        </em>
    </p>
    <p class="body">{{ comment.getBodyAsHtml() | raw }}</p>
</div>
