<form action="{{ action }}" method="POST" id="post-edit">
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.body) }}
    {{ form_row(form.publishedAt) }}

    {{ form_rest(form) }}
    <input type="submit" value="Submit" class="button" />
</form>
