{% extends "::layout.html.twig" %}

{% set formattedDate = post.getPublishedAt().format("F j, Y") %}

{% block title %}Alexandre Salomé - {{ post.getTitle() }} - {{ formattedDate }}{% endblock %}
{% set active = "blog" %}

{% block content %}
    <div class="page-content">
        <h1>«&nbsp;{{ post.getTitle() }}&nbsp;»</h1>

        <div class="blog-post-date">
            {{ formattedDate }}
        </div>

        <div class="blog-post-history no-print">
            <a class="button previous" href="#">&lt; Previous</a>
            <a class="button next"     href="#">Next &gt;</a>
        </div>

        <div class="rich-content">
            {{ post.getBody() }}
        </div>
    </div>
{% endblock %}