{% extends "::layout.html.twig" %}

{% set formattedDate = post.getPublishedAt().format("F j, Y") %}

{% block title %}Alexandre Salomé - {{ post.getTitle() }} - {{ formattedDate }}{% endblock %}
{% set active = "blog" %}

{% block content %}
    <div class="page-content">
        <h1>«&nbsp;{{ post.getTitle() }}&nbsp;»</h1>

        <div class="blog-post-date">
            {{ formattedDate }}
        </div>

        <div class="blog-post-history no-print">
            {% if post.hasPrevious() %}
                <a title="{{ post.getPrevious().getTitle() }}" class="button previous" href="{{ path('blog_post_view', { 'slug': post.getPrevious().getSlug() }) }}">&lt; Previous</a>
            {% endif %}
            {% if post.hasNext() %}
                <a title="{{ post.getNext().getTitle() }}" class="button next" href="{{ path('blog_post_view', { 'slug': post.getNext().getSlug() }) }}">Next &gt;</a>
            {% endif %}
        </div>

        <div class="rich-content">
            {{ post.getBody() }}
        </div>

        <div class="blog-post-comments">
            <h2>Comments</h2>
            {% for comment in post.getComments() %}
                {% if loop.first %}
                    <div class="comment">
                {% endif %}
                <h3>{{ comment.getFullname() }}<em>, {{ comment.getCreatedAt().format("F j, Y") }}</em></h3>
                <p>{{ comment.getBody() }}</p>
                {% if loop.last %}
                    </div>
                {% endif %}
            {% else %}
                <div class="no-comments">
                    <p>Be the first to comment !</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
