{% extends "AlomMainBundle::layout/layout-1col.html.twig" %}

{% set formattedDate = post.getPublishedAt().format("F j, Y") %}

{% block title %}Alexandre Salomé - {{ post.getTitle() }} - {{ formattedDate }}{% endblock %}
{% set active = "blog" %}

{% block content %}
    <div class="page-content">
        {% if is_granted("ROLE_ADMIN") %}
            <div class="blog-post-actions">
                {% if post.isActive() %}
                    <a href="#" class="button button-hidden">Disable</a>
                {% else %}
                    <a href="#" class="button">Enable</a>
                {% endif %}
                <a href="#" class="button button-edit"><span>Edit</span></a>
                <a href="#" class="button button-delete"><span>Delete</span></a>
            </div>
        {% endif %}

        <h1>«&nbsp;{{ post.getTitle() }}&nbsp;»</h1>

        <div class="blog-post-date">
            {{ formattedDate }}
        </div>

        <div class="blog-post-history no-print">
            {% if post.hasPrevious() %}
                <a title="{{ post.getPrevious().getTitle() }}" class="button previous" href="{{ path('blog_post_view', { 'slug': post.getPrevious().getSlug() }) }}">&lt; Previous</a>
            {% endif %}
            {% if post.hasNext() %}
                <a title="{{ post.getNext().getTitle() }}" class="button next" href="{{ path('blog_post_view', { 'slug': post.getNext().getSlug() }) }}">Next &gt;</a>
            {% endif %}
        </div>

        <div class="rich-content">
            {{ post.getBody() }}
        </div>

        {% include "AlomBlogBundle:PostComment:list.html.twig" with { "comments" : post.getComments() } only %}
        {% include "AlomBlogBundle:PostComment:form.html.twig" with {
            "action" : path('blog_post_view', { 'slug' : post.getSlug() }),
            "form"   : commentForm
        } only %}
    </div>
{% endblock %}
