{% extends "::layout.html.twig" %}

{% set formattedDate = post.getPublishedAt().format("F j, Y") %}

{% block title %}Alexandre Salomé - {{ post.getTitle() }} - {{ formattedDate }}{% endblock %}
{% set active = "blog" %}

{% block content %}
    <div class="page-content">
        <h1>«&nbsp;{{ post.getTitle() }}&nbsp;»</h1>

        <div class="blog-post-date">
            {{ formattedDate }}
        </div>

        <div class="blog-post-history no-print">
            {% if post.hasPrevious() %}
                <a title="{{ post.getPrevious().getTitle() }}" class="button previous" href="{{ path('blog_post_view', { 'slug': post.getPrevious().getSlug() }) }}">&lt; Previous</a>
            {% endif %}
            {% if post.hasNext() %}
                <a title="{{ post.getNext().getTitle() }}" class="button next" href="{{ path('blog_post_view', { 'slug': post.getNext().getSlug() }) }}">Next &gt;</a>
            {% endif %}
        </div>

        <div class="rich-content">
            {{ post.getBody() }}
        </div>

        <div class="blog-post-comments">
            {% for comment in post.getComments() %}
                <div class="comment">
                    <p class="author">
                        {{ comment.getFullname() }}<em>{% if comment.getWebsite() %}, <a href="{{ comment.getWebsite() }}">{{ comment.getWebsite() }}</a>{% endif %}, {{ comment.getCreatedAt().format("F j, Y") }}</em>
                    </p>
                    <p class="body">{{ comment.getBody() }}</p>
                </div>
            {% else %}
                <div class="no-comments">
                    <p>Be the first to comment !</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
