{#
  This file is part of the Alom project.

  (c) Alexandre Salomé <alexandre.salome@gmail.com>

  This source file is subject to the GPL license that is bundled
  with this source code in the file LICENSE.
#}

<div id="header-wrapper">
    <div id="header">
        <h1><a href="{{ path("homepage") }}"{% if active == "homepage" %} class="active"{% endif %}>Alexandre Salomé</a></h1>
        <ul>
            <li class="blog">
                <a {% if active == "blog" %} class="active"{% endif %}href="{{ path("blog_post_list") }}"><span>Blog</span></a>
            </li>
            <li class="books">
                <a {% if active == "books" %} class="active"{% endif %}href="{{ path("main_book_list") }}"><span>Books</span></a>
            </li>
            <li class="cv">
                <a {% if active == "cv" %} class="active"{% endif %}href="{{ path("identity_main_cv") }}"><span>CV</span></a>
            </li>
            <li class="contact">
                <a {% if active == "contact" %} class="active"{% endif %}href="{{ path("identity_main_contact") }}"><span>Contact</span></a>
            </li>
        </ul>
    </div>
</div>
