{% macro element(href, title, label) %}
    <li>
        <a href="{{ href }}" title="{{ title }}">
            {{ label }}
        </a>
    </li>
{% endmacro %}

<div id="banner">
    <ul id="banner-social">
        {{ _self.element(rssAddress,                                                 rssTitle,                           "RSS")       }}
        {{ _self.element("https://plus.google.com/100267704447443627455",            "Link to my Google Plus profile",   "Google+")   }}
        {{ _self.element("http://twitter.com/alexandresalome",                       "Link to my Twitter profile",       "Twitter")   }}
        {{ _self.element("http://github.com/alexandresalome",                        "Link to my Github profile",        "Github")    }}
        {{ _self.element("http://delicious.com/wodkaist",                            "Link to my Delicious profile",     "Delicious") }}
        {{ _self.element("http://facebook.com/alexandresalome",                      "Link to my Facebook profile",      "Facebook")  }}
        {{ _self.element("http://lastfm.fr/user/wodkaist",                           "Link to my Last.fm profile",      "last.fm")    }}
        {% if is_connected %}
            <li class="auth">{{ username }} - <a href="{{ path("logout") }}">Logout</a></li>
        {% endif %}
    </ul>
</div>
