{#
  This file is part of the Alom project.

  (c) Alexandre Salomé <alexandre.salome@gmail.com>

  This source file is subject to the GPL license that is bundled
  with this source code in the file LICENSE.
#}

<div id="header">
    <h1><a href="{{ path("homepage") }}"><span>Alexandre Salomé</span></a></h1>
    <ul>
        <li class="blog{% if active == "blog" %} active{% endif %}">
            <a href="{{ path("blog_post_list") }}"><span>Blog</span></a>
        </li>
        <li class="books{% if active == "books" %} active{% endif %}">
            <a href="{{ path("main_book_list") }}"><span>Books</span></a>
        </li>
        <li class="cv{% if active == "cv" %} active"{% endif %}">
            <a href="{{ path("identity_main_cv") }}"><span>CV</span></a>
        </li>
        <li class="contact{% if active == "contact" %} active{% endif %}">
            <a href="{{ path("identity_main_contact") }}"><span>Contact</span></a>
        </li>
    </ul>
</div>
