{% extends "AlomMainBundle::layout.html.twig" %}

{% block title            'Books | Alexandre Salomé' %}
{% block meta_description '@todo' %}

{% set active = "cv" %}

{% macro book_entry(book) %}
    <div class="book-entry">
        <div class="book-illustration{% if not book.getIsActive() %} inactive{% endif %}">
            <img src="{{ ('/uploads/book/' ~ book.getIllustration()) | apply_filter('book_thumb') }}" alt="{{ book.getTitle() }}" />
        </div>
        <div class="book-details">
            <h3 class="book-title">{{ book.getTitle() }}</h3>
            <div class="book-description">{{ book.getDescriptionAsHtml() | raw }}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="button-set">
                    <a href="{{ path("main_book_edit", {'id': book.getId() }) }}" class="button button-blue button-small">Edit</a>
                    <a href="{{ path("main_book_delete", {'id': book.getId() }) }}" class="button button-red button-small">Remove</a>
                    {% if book.getIsActive() %}
                        <a href="{{ path("main_book_disable", {'id': book.getId() }) }}" class="button button-small">Disable</a>
                    {% else %}
                        <a href="{{ path("main_book_enable", {'id': book.getId() }) }}" class="button button-hidden button-small">Enable</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div id="main-book-list">
        <div class="page-content">
            {% if is_granted('ROLE_ADMIN') %}
                <div style="text-align: right">
                    <a href="{{ path('main_book_create') }}" class="button button-add"><span>New book</span></a>
                </div>
            {% endif %}
            <h1>Books</h1>

            {% set curDate = '' %}
            {% for book in books %}
                {% set date = book.getReadAt().format('Y') %}
                {% if date != curDate %}
                    {% if curDate != '' %}
                        </div>
                    {% endif %}
                    {% set curDate = date %}
                    <h2>{{ date }}</h2>
                    <div class="book-set">
                {% endif %}
                {{ _self.book_entry(book) }}
            {% endfor %}
            </div> {# end of in-tag #}
        </div>
    </div>
{% endblock %}
