{% extends "::layout.html.twig" %}

{% block title 'Alexandre Salomé' %}
{% block meta_description 'Alexandre Salomé\'s personal website, Consultant for Sensio Labs. Links to the blog, social accounts, CV and contact' %}

{% set active = "homepage" %}

{% block content %}
    <div class="page-main-homepage">
        <div class="col-parent">
            <div class="col-1-2">
                <h2>Last blog posts</h2>
                <div class="block-last-posts">
                    <dl>
                    {% for post in lastPosts %}
                        <dt><a href="{{ path("post_view", { "slug": post.slug }) }}">{{ post.title }}</a></dt>
                        <dd>{{ post.metaDescription }}</dd>
                    {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="col-1-2">
                {% if lastBooks|length > 0 %}
                    <h2>Last books I've read</h2>
                    <div class="block-last-books">
                        <div class="very-last">
                            {% set book = lastBooks[0] %}
                            <table><tr><td>
                                <a href="{{ path("book_list") }}#{{ book.slug }}">
                                    <img src="{{ asset(('/uploads/book/' ~ book.illustration) | imagine_filter('book_thumb')) }}" alt="{{ book.title }}" />
                                </a>
                            </td></tr></table>
                        </div>
                        <div class="others">
                            {% for i in 1..4 %}
                                {% if lastBooks[i] is defined %}
                                    {% set book = lastBooks[i] %}
                                    <div class="book">
                                        <table><tr><td>
                                            <a title="{{ book.title }}" href="{{ path('book_list') }}#{{ book.slug }}">
                                                <img src="{{ asset(('/uploads/book/' ~ book.illustration) | imagine_filter('book_mini')) }}" alt="{{ book.title }}" />
                                            </a>
                                        </td></tr></table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-parent block-more">
            <div class="col-1-2">
                <a href="{{ path("post_list") }}">&raquo; View all posts</a>
            </div>
            <div class="col-1-2">
                <a href="{{ path("book_list") }}">&raquo; View all books</a>
            </div>
        </div>
    </div>
{% endblock %}
