<form action="{{ action }}" method="POST" id="post-edit">
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.metaDescription) }}

    <div id="form-body-edit">
        {{ form_label(form.body) }}
        {{ form_widget(form.body) }}
        {{ form_errors(form.body) }}

        
        <div id="post-body-preview" class="rich-content" style="display:none;"></div>

        <div id="post-body-actions">
            <a id="post-body-html-button" href="{{ path('alom_website_post_markdownPreview') }}" class="button button-small">Preview HTML</a>
            <a id="post-body-markdown-button" style="display:none;" href="#" class="button button-small">Show markdown</a>
            <a id="post-body-fullscreen-button" href="#" class="button button-small">Toogle fullscreen</a>
        </div>

    </div>

    {{ form_row(form.publishedAt) }}
    {{ form_rest(form) }}
    <input type="submit" value="Submit" class="button" />
</form>
