{% extends "AlomWebsiteBundle::layout.html.twig" %}

{% set formattedDate = post.getPublishedAt().format("F j, Y") %}

{% block title            post.getTitle() ~ ' | Alexandre Salomé' %}
{% block meta_description post.getMetaDescription() %}

{% set active = "blog" %}

{% block content %}
    <div class="page-post-view">
        {% if is_granted("ROLE_ADMIN") %}
            <div class="blog-post-actions">
                {% if post.isActive() %}
                    <a href="{{ path('alom_website_post_disable', { 'id': post.getId() }) }}" class="button button-hidden">Disable</a>
                {% else %}
                    <a href="{{ path('alom_website_post_enable', { 'id': post.getId() }) }}" class="button">Enable</a>
                {% endif %}
                <a href="{{ path('alom_website_post_edit', { 'id': post.getId() }) }}" class="button button-edit">Edit</a>
                <a onclick="return confirm('Are you sure ?')" href="{{ path('alom_website_post_delete', { 'id': post.getId() }) }}" class="button button-delete"><span>Delete</span></a>
            </div>
        {% endif %}

        <h1>{{ post.getTitle() }}</h1>

        <div class="post-date">
            {{ formattedDate }}
        </div>

        <div class="blog-post-history">
            {% if post.hasPrevious() %}
                <a title="{{ post.getPrevious().getTitle() }}" class="button previous" href="{{ path('alom_website_post_view', { 'slug': post.getPrevious().getSlug() }) }}">&lt; Previous</a>
            {% endif %}
            {% if post.hasNext() %}
                <a title="{{ post.getNext().getTitle() }}" class="button next" href="{{ path('alom_website_post_view', { 'slug': post.getNext().getSlug() }) }}">Next &gt;</a>
            {% endif %}
        </div>

        <div class="rich-content">
            {{ post.getBodyHtml() | raw }}
        </div>

        {% include "AlomWebsiteBundle:PostComment:list.html.twig" with { "comments" : post.getComments() } only %}
        {% include "AlomWebsiteBundle:PostComment:form.html.twig" with {
            "action" : path('alom_website_post_view', { 'slug' : post.getSlug() }),
            "form"   : commentForm,
            "postCommentConfirmation": postCommentConfirmation
        } only %}
    </div>
{% endblock %}
